.~lock.*
*.pyc

mascot-test/scenarios/scenario0-10-assertion.csp

mascot-test/scenarios/scenario0-10-stress.json

mascot-test/scenarios/scenario0-100-assertion.csp

mascot-test/scenarios/scenario0-100-stress.json

mascot-test/scenarios/scenario1-assertion.csp

mascot-test/scenarios/scenario1.json

mascot-test/scenarios/scenario2-assertion.csp

mascot-test/scenarios/scenario2.json

mascot-test/scenarios/scenario3-assertion.csp

mascot-test/scenarios/scenario3.json

mascot-test/scenarios/scenario4-assertion.csp

mascot-test/scenarios/scenario4.json

mascot-test/scenarios/scenario5-assertion.csp

mascot-test/scenarios/scenario5.json
